$navdrawer-width: 200px;
$drawer-background-color: $gray-light;
$navigation-drawer-max-desktop-width: $navdrawer-width;
$navigation-drawer-desktop-width: $navdrawer-width / 2;
$navigation-drawer-mobile-width: $navdrawer-width;
$navigation-drawer-max-mobile-width: $navdrawer-width;
