/* @TODO needs refactoring on this file */

.campaigns_list {
  width: 100%;
}

.tab-heading {
  margin-bottom: 4px;
}

.form-buttons {
  margin-top: 16px;
  button {
    height: 50px;
    margin-right: 24px;
  }
}

.margin-t-40 {
  margin-top: 40px;
}

.panel {
  border: 1px solid #f1f1f1;
  padding: 15px;
  margin-top: 15px;
}


.no-margin {
  margin: 0;
}

.text-muted {
  color: #222222;
  opacity: 0.5;
  padding-bottom: 18px;
}

.pull-right {
  float: right;
}

.form-field {
  padding-top: 8px;
  padding-bottom: 8px;
}

.img-dropzone {
  width: 100%;
  // height: 60px;
}

.img-preview {
  width: 100%;
  max-width: 100%;
}

table.table-campaigns {
  width: 100%;
  border-collapse: collapse;
  thead {
    border-bottom: 2px solid $table-border-header;
    tr {
      th {
        padding: 10px 2px;
      }
    }
  }
  tbody {
    tr {
      border-bottom: 1px solid $table-border-header;
      td {
        font-size: 14px;
        padding: 6px 4px;
        .img-preview {
          max-width: 60px;
        }
      }
    }
  }

}
