.c-container {
  padding: $unit * 4;
}

.c-container__small {
  width: $container-width-small;

  @include breakpoint($mobile-large-down) {
    width: 100%;
  }
}

.c-container__center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
