.field {
  display: inline-block;
  margin-top: 10px;
  .text {
    font-size: inherit;
  }
}

.tooltip {
  margin-right: 12px;
  background: transparent;
}
.tooltipInner {
  background: transparent;
}
