// ------------------------------------------
// contains shared components used everywhere
// ------------------------------------------
:global {
  @import "./components/app";
  @import "./components/app-icon";
  @import "./components/card";
  @import "./components/container";
  @import "./components/campaigns";
  @import "./components/layout";
  @import "./components/misc";
  @import "./components/recharts";
  @import "./components/segment-configurator";

  @import "./utilities/alignment";
  @import "./utilities/color";
  @import "./utilities/display";
  @import "./utilities/font";
  @import "./utilities/margin";
  @import "./utilities/position";

  // imported bootstrap grid system
  @import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
  @import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
  @import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid";
  @import "../../../node_modules/font-awesome/scss/font-awesome";
}
