.statNumber {
  margin: $unit;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h4 {
    font-size: $font-size;
    margin: 0;
  }

  .counter {
    font-size: $xlarge-font-size * 1.5;
    line-height: $xlarge-font-size * 1.5;
  }

  &.blue {
    color: $blue-normal!important;
  }

  &.cyan {
    color: $cyan!important;
  }

  &.green {
    color: $green!important;
  }

  &.yellow {
    color: $yellow!important;
  }
}
