.userChart {
  padding: $unit * 3;

  .chartDetail {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    flex-direction: column;

    .chartDetailItem {
      margin-right: $unit * 2;
    }

    .label {
      font-size: $font-size;
    }

    .value {
      font-size: $xlarge-font-size;
      margin-right: $unit;
    }
  }

  .chartContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
  }

  .totalUsersValue {
    color: $gray-dark;
    font-size: $xlarge-font-size * 1.2;
  }

  .totalUsersLabel {
    color: $gray-dark;
    font-size: $font-size * 0.8;
  }
}
